.strikeout{
    position: relative;
}


.strikeout::after{
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0%;
    border-top: 4px solid rgb(220 38 38);
    width: 100px;
    height: 4px;
    background-color: rgb(220 38 38);
    transform: rotate(-25deg);
}

.productImg{
    width: 256px;
}