.strikeout{
    position: relative;
}


.strikeout::after{
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0%;
    border-top: 2px solid rgb(220 38 38);
    width: 100px;
    height: 2px;
    background-color: rgb(220 38 38);
    transform: rotate(0deg);
}

.productImg{
    width: 248px;
}