@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --foreground: #171717;
  --background: #f4f4f4;

  --main700: #0f3270;
  --main500: #1859ba;
  --main100: #f4f3fa;
  --accent400: #fe8e18;
  --highlight400: #6ea53a;
  --white: #ffffff;


  cursor: inherit;
}


@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
